#example2 .address{
    width: 340px;
    margin: 20px auto;
    padding: 10px;
    font-size: 0.8em;
    line-height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(236, 236, 236);
}

#example2 .field label{
    display: block;
    float: left;
    width: 135px;
    font-size: 14px;
}

#example2 .field input,
#example2 .field select{
    width: 200px;
    
}

#example2 .field:first-child{
    margin-bottom: 5px;
}
