#example1 .address{
    width: 295px;
    margin: 20px auto;
    padding: 10px;   
    font-size: 0.8em;
    line-height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(236, 236, 236);
}

#example1 .address h1{
    margin: 0;
    padding: 0;
    font-size: 25px;
    padding-bottom: 10px;
    color: rgb(70, 70, 70);
}

#example1 .field input{
    width: 290px;
}
